main {
  font-family: "Libre Franklin", sans-serif;
}

.w-90 {
  width: 90%;
}

.h1-hero-sub-text {
  transform: matrix(1, 0.01, 0, 1, 0, 0);
  background-image: url("../images/Shape.svg");
  background-repeat: no-repeat;
  width: 204.12px;
  height: 80px;
  display: inline-block;
  padding-top: 5px;
}

.hero-heading {
  max-width: 1142px;
}
.btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  & .donate {
    color: #b70569;
  }
}

.carousel {
  background-repeat: no-repeat;
  background-image: url("../images/ADA.svg");
  border-radius: 52px 52px 0px 0px;
}

.carousel-img2 {
  background-image: url("../images/carouselImage-1.svg");
}

.carousel-img4 {
  background-image: url("../images/carouselImage-1.svg");
}

.card-body {
  background-repeat: no-repeat;
  border-radius: 24px 24px 0px 0px;

  article {
    border-radius: 24px 24px 0px 0px;
  }
}

.card-body-img-1 {
  background-image: url("../images/Rectangle22.svg");
}

.card-body-img-2 {
  background-image: url("../images/Rectangle3772.svg");
}

.card-body-img-3 {
  background-image: url("../images/Rectangle376.svg");
}

.card-body-img-4 {
  background-image: url("../images/Rectangle377.svg");
}

@media only screen and (max-width: 479px) {
  .btns-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .donate {
      padding: 14px 40px 14px 32px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .h1-hero-sub-text {
    height: 90px;
    padding-top: 20px;
    background-position: 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .h1-hero-sub-text {
    height: 100px;
    display: inline-block;
    padding-top: 15px;
    background-position: 0 14px;
  }
}
