:root {
  --primary-main-pink: #b70569;
  --primary-dark-pink: #6d033f;
  --primary-light-pink: #f0cde1;
  --secondary-main-black: #1a1a1a;
  --primary-black: #000000;
  --primary-lighter-pink: #f0cde14d;
  --primary-very-light-pink: #f7e6f04d;
  --primary-white: #ffffff;
  --primary-gray: #707070;
}
